.App {
  text-align: center;
  background-image: url(../src/images/movieImg.jpg);
  height: 75vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative
}

body {
  background-color: oldlace;
}

.nav {
  font-size: 20px;
  padding: 25px 25px;
  margin-left: 23em;
}

#movie {
  font-family: 'Lakki Reddy', cursive;
  font-size: 75px;
  font-style: italic;
  transform: rotate(335deg);
  margin-left: 1em;
  padding-right: 2em;
}

#maven {
  font-family: 'Lakki Reddy', cursive;
  font-size: 75px;
  font-style: italic;
  transform: rotate(335deg);
  margin-top: -.25em;
  margin-left: 1.25em;
  padding-left: 4.5em;

}

#madness {
  font-family: 'Lakki Reddy', cursive;
  font-size: 75px;
  font-style: italic;
  transform: rotate(335deg);
  margin-top: -1em;
  margin-left: 3.85em;
  padding-left: 8em;
}

h2 {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 40px;
}

.para {
  text-align: center;
  font-size: 19px;
}

#pictures {
  display: flex;
  justify-content: space-around;
}

.backdrop {
  height: 50%;
}

.box {
  align-self: center;
}

.title {
  text-align: center;
}

.divForm {
  margin: auto;
  display: block;
  align-content: center;
}


